#!/usr/bin/make -f

export QT_SELECT = 6
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

execute_after_dh_auto_install:
	mkdir --verbose -p debian/qlogo/usr/bin
	mv --verbose debian/qlogo/usr/QLogo-cli debian/qlogo/usr/bin/
	mv --verbose debian/qlogo/usr/QLogo debian/qlogo/usr/bin/
